@import "../../scss/abstracts/variables";
@import "../../scss/abstracts/mixins";

.case-review-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $space-300;
  flex-flow: row wrap;
  &__details {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    gap: $space-050;
    min-width: 0;
  }
  &__title {
    font-weight: $font-weight-semibold;
    font-size: $font-size-text-lg;
  }
  &__description {
    font-size: $font-size-text-md;
    font-weight: $font-weight-regular;
    @include truncateText;
    width: 100%;
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: $space-100;
  }

  .usa-button {
    font-size: $font-size-text-base;
    font-weight: $font-weight-semibold;
    background-color: $white;
    color: $ink;
    border: $base-light $border-width-sm solid;
    margin-right: 0;

    &:hover,
    &.usa-button--hover {
      color: $ink;
      background-color: $base-lightest;
      text-decoration: none;
    }
  }
}
