@import "../../scss/abstracts/variables";

.case-field-group {
  background-color: transparent;
  display: grid;
  gap: $space-300;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  span {
    background-color: pink;
  }
}
