@import "../../scss/abstracts/variables";
@import "../../scss/abstracts/mixins";

.dash-buttons {
  display: grid;
  gap: $space-300;
  grid-template-columns: repeat(1, 1fr);

  @include breakpoint(mobile) {
    grid-template-columns: repeat(1, 1fr);
  }
  @include breakpoint(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakpoint(desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
  @include breakpoint(widescreen) {
    grid-template-columns: repeat(4, 1fr);
  }
}
