//alpha colors
$black: #000000;
$alpha-black-1: #00000003;
$alpha-black-2: #00000005;
$alpha-black-3: #00000008;
$alpha-black-4: #0000000a;
$alpha-black-5: #0000000d;
$alpha-black-10: #0000001a;
$alpha-black-20: #00000033;
$alpha-black-30: #0000004d;
$alpha-black-40: #00000066;
$alpha-black-50: #00000080;
$alpha-black-60: #00000099;
$alpha-black-70: #000000b2;
$alpha-black-80: #000000cc;
$alpha-black-90: #000000e5;
$alpha-black-100: #000000;

$white: #ffffff;
$alpha-white-1: #ffffff03;
$alpha-white-2: #ffffff05;
$alpha-white-3: #ffffff08;
$alpha-white-4: #ffffff0a;
$alpha-white-5: #ffffff0d;
$alpha-white-10: #ffffff1a;
$alpha-white-20: #ffffff33;
$alpha-white-30: #ffffff4d;
$alpha-white-40: #ffffff66;
$alpha-white-50: #ffffff80;
$alpha-white-60: #ffffff99;
$alpha-white-70: #ffffffb2;
$alpha-white-80: #ffffffcc;
$alpha-white-90: #ffffffe5;
$alpha-white-100: #ffffff;
